import 'package:csocsort_szamla/config.dart';
import 'package:flutter/material.dart';
import 'package:google_mobile_ads/google_mobile_ads.dart';

Map<String, String> appUnitIds = {
  'create_group':'example',
  'history':'example',
  'home_screen':'example',
  'join_group':'example',
  'payment':'example',
  'purchase':'example',
  'report_bug':'example',
  'settings':'example'
};

class AdUnitForSite extends StatefulWidget {
  final String site;
  AdUnitForSite({@required this.site}) {}

  @override
  State<AdUnitForSite> createState() => _AdUnitForSiteState();
}

class _AdUnitForSiteState extends State<AdUnitForSite> {
  BannerAd ad;
  @override
  void initState() {
    ad = BannerAd(
      adUnitId: appUnitIds[widget.site],
      size: AdSize.banner,
      request: AdRequest(),
      listener: BannerAdListener(),
    );
    if (showAds && isAdPlatformEnabled) {
      ad.load();
    }
    super.initState();
  }

  @override
  Widget build(BuildContext context) {
    if (ad.responseInfo == null && showAds && isAdPlatformEnabled) {
      ad.load();
    }
    if (isAdPlatformEnabled) {
      return Visibility(
        visible: showAds,
        child: Container(
          width: ad.size.width.toDouble(),
          height: ad.size.height.toDouble(),
          child: AdWidget(ad: ad),
        ),
      );
    }
    return Container();
  }
}