import 'package:csocsort_szamla/config.dart';
import 'package:flutter/material.dart';
import 'package:google_mobile_ads/google_mobile_ads.dart';

Map<String, String> appUnitIds = {
  'create_group':'example',
  'history':'example',
  'home_screen':'example',
  'join_group':'example',
  'payment':'example',
  'purchase':'example',
  'report_bug':'example',
  'settings':'example'
};

Widget adUnitForSite(String site) {
    if (isAdPlatformEnabled) {
      BannerAd ad = BannerAd(
        adUnitId: appUnitIds[site],
        size: AdSize.banner,
        request: AdRequest(),
        listener: BannerAdListener(),
      );
      ad.load();
      return Visibility(
        visible: showAds && isAdPlatformEnabled,
        child: Container(
          width: ad.size.width.toDouble(),
          height: ad.size.height.toDouble(),
          child: AdWidget(ad: ad),
        ),
      );
    }
    return Container();
}