<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253091165262-la44mbgu9q1di1mbj0veo6isc2l8jtu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253091165262-la44mbgu9q1di1mbj0veo6isc2l8jtu1</string>
	<key>API_KEY</key>
	<string>AIzaSyDVN1BN3sGDdbRVq0zyACSDQIb9qF5vN1g</string>
	<key>GCM_SENDER_ID</key>
	<string>253091165262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>csocsort.hu.machiato32.csocsortSzamla</string>
	<key>PROJECT_ID</key>
	<string>lender-82f30</string>
	<key>STORAGE_BUCKET</key>
	<string>lender-82f30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253091165262:ios:4e471ee2d31b0a3e553f1f</string>
	<key>DATABASE_URL</key>
	<string>https://lender-82f30.firebaseio.com</string>
</dict>
</plist>