const String APP_URL =  'http://www.examp.le';
const String TEST_URL = 'http://www.examp.le';
int currentVersion=YOUR_CURRENT_VERSION;
bool useTest=true;
String apiToken;
String currentUsername;
int currentUserId;
String currentGroupName;
int currentGroupId;
List<String> usersGroups;
List<int> usersGroupIds;
String guestApiToken;
String guestNickname;
String guestApiToken;
int guestGroup;